<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>
            R.E.M. Says
        </title>
    </head>
    <body style="text-align:center;">
        <p>
            Edit quotes:
        </p>
        <form action="/edit" method="post">
            <div>
                <textarea name="quotes" rows="50" cols="70">{{quotes}}</textarea>
            </div>
            <div>
                <input type="submit" value="Save">
            </div>
        </form>
    </body>
</html>
