    <html>
        <head>
            <title>R.E.M. Says</title>
            <script language="javascript" type="text/javascript"
                src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js">
            </script>
            <script type="text/javascript" language="javascript" >
                $(function(){
                    $('.morelink').click(function(){
                        $('#quotetext')
                           .fadeOut(150,
                           function(){
                               $(this).load('/say?iframe=1',
                                function(){
                                   $(this).fadeIn(250);
                                });
                           });
                        return false;
                    });
                });
            </script>
            {% if not iframe %}
            <link rel="stylesheet" href="/styles/styles.css" type="text/css">
            {% endif %}
        </head>
        <body>
            {%if iframe %}
            <div id="container"
                style="width:{{w}}px;">
                <a href="#" title="clickme" class="morelink"><img alt="R.E.M."
                   style="border: 0pt none; outline: none;" height="100"
                   src="/images/{{image_num}}.png"/></a>
                <div style="height: 5em; padding: 5px 0">
                  <div id="quotetext" style="opacity: 0.9999; display: block; font-weight: normal; font-size:14px;">
                    {{quote}} (<a href="http://rem.wallrazer.com/">via</a>)
                  </div>
                </div>
            </div>
            {% else %}
            <div id="container">
                <h1 id="title">R.E.M. Says:</h1>
                <a href="#" title="clickme" class="morelink"><img alt="R.E.M."
                   style="border: 0pt none; outline: none;"
                   src="/images/{{image_num}}.png"/></a>
                <div style="height: 10em; padding: 5px 0">
                  <div id="quotetext" style="opacity: 0.9999; display: block; font-weight: normal; font-size:26px;">
                    {{quote}}
                  </div>
                </div>
                <p class="footer"><a href="#" title="clickme" class="morelink">more...</a></p>
                <p class="footer">Click the image or the "more..." link for another quote. Reload the page for a new picture of the band!</p>
                <h3>Hello, I'm sorry I know you I knew you</h3>
                <p class="footer">What is this? I'm a huge R.E.M. fan, so I took lines from my favorite songs and wrote a simple randomizer. It's used <a href="http://monkinetic.com/">on my website</a>, and now (see below) you can use it on yours.</p>
                <h3>Follow me, don't collar me</h3>
                <p class="footer">You can follow R.E.M. Says on <a href="http://twitter.com/remsays">Twitter</a> and <a href="http://identi.ca/remsays">Identi.ca</a></p>
                <h3>Stand in the place where you live</h3>
                <p class="footer">Want Berry, Buck, Mills and Stipe on <strong>your</strong> site? copy and paste this code into your page:</p>
                <textarea style="width:100%; height:100px; color:#666; border: none; border-top:1px solid #333; border-bottom: 1px solid #333;">&lt;script src=&quot;http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js&quot;&gt;&lt;/script&gt;
&lt;script type=&quot;text/javascript&quot;&gt;var w = 230; var h = 130;&lt;/script&gt;
&lt;script id=&quot;remsays&quot; type=&quot;text/javascript&quot;&gt;
var f = $('&lt;iframe src=&quot;http://rem.wallrazer.com/?iframe=1&w=220&quot; '+
                                   'width=&quot;'+w+'&quot; height=&quot;'+h+'&quot; scrolling=&quot;no&quot; frameborder=&quot;0&quot;&gt;&lt;/iframe&gt;');
                        $('#remsays').parent().append(f);
                        &lt;/script&gt;</textarea>
                <p class="footer">
                   rem says is a <a href="http://monkinetic.com">monkinetic</a> production (<a href="mailto:steveivy@gmail.com?subject=R.E.M.%20Says">email</a>),
                   and is sadly not affiliated with <a href="http://remhq.com">R.E.M.</a> or <a href="http://murmurs.com">murmurs.com</a>.
                </p>
                <p class="footer">Extra big thanks to Kip Teague's <a href="http://www.retroweb.com/rem/lyrics/index.html">RetroWeb R.E.M. Lyrics Archive</a>, which made this project a lot easier than it might have been.
                </p>

            </div>
            {% endif %}
            <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
            </script>
            <script type="text/javascript">
            var pageTracker = _gat._getTracker("UA-68725-7");
            pageTracker._trackPageview();
            </script>
        </body>
    </html>
